<?xml version="1.0"?>
<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>
  <arg name="plotting" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="testing" default="false"/>

  <!-- Load universal robot description format (URDF) -->
  <!-- <param name="$(arg robot_description)" command="$(find xacro)/xacro -/-inorder '$(find tesseract_ros_examples)/urdf/puzzle_piece_workcell.xacro'" /> -->
  <param name="$(arg robot_description)" command="$(find xacro)/xacro --inorder '$(find kr210_pen_support)/urdf/kr210_pen.xacro'" /> 

  <!-- The semantic description that corresponds to the URDF -->
  <!-- <param name="$(arg robot_description)_semantic" textfile="$(find tesseract_ros_examples)/config/puzzle_piece_workcell.srdf" /> -->
  <param name="$(arg robot_description)_semantic" textfile="$(find kr210_pen_moveit_config)/config/kr210_pen.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <!-- <rosparam command="load" file="$(find tesseract_ros_examples)/config/joint_limits.yaml"/> -->
    <rosparam command="load" file="$(find kr210_pen_moveit_config)/config/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <!-- <rosparam command="load" file="$(find tesseract_ros_examples)/config/kinematics.yaml"/> -->
    <rosparam command="load" file="$(find kr210_pen_moveit_config)/config/kinematics.yaml"/>
  </group>

  <node name="pose_builder" pkg="vsl_utilities" type="pose_builder" output="screen">
    <param name="world_frame" value="kl2000_base_link"/> 
  </node>

  <node name="course_display" pkg="vsl_utilities" type="course_display" output="screen">
    <param name="world_frame" value="kl2000_base_link"/> 
  </node>

  <group unless="$(arg testing)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
    <!-- If needed, broadcast static tf for robot root -->
    <node name="vsl_trajopt_main" pkg="vsl_trajopt_tesseract" type="vsl_trajopt_main" output="screen">
      <param name="plotting" type="bool" value="$(arg plotting)"/>
      <param name="rviz" type="bool" value="$(arg rviz)"/>
      <param name="group_name" value="manipulator"/>
      <param name="tip_link" value="penholder_tool_tip"/>  <!--kr210_qr_tool0-->
      <param name="base_link" value="kr210_base_link"/>
      <param name="world_frame" value="kl2000_base_link"/>  <!--table_table_top-->  
    </node>

    <!-- Launch visualization -->
    <!-- <node if="$(arg rviz)" pkg="rviz" type="rviz" name="tesseract_ros_examples_puzzle_piece_example_rviz"
        args="-d $(find vsl_trajopt_tesseract)/config/examples.rviz" /> -->
    <!-- <node if="$(arg rviz)" pkg="rviz" type="rviz" name=" vsl_trajopt_tesseract_rviz"
        args="-d $(find vsl_trajopt_tesseract)/config/config.rviz" /> -->
    <node name="rviz" type="rviz" pkg="rviz" args="-d $(find vsl_trajopt_tesseract)/config/config.rviz" required="true" output="screen" />
  </group>

</launch>





